
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

header {
    color: white;
    background-color: red;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

nav {
    overflow: hidden;
}

nav.main {
    color: white;
    background-color: blue;
}

nav.dynamic {
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 150px;
    float: right;
    background-color: #E8E8E8;
    position: relative;
    text-align: center;
}

nav.dynamic ul {
    padding: 0px;
    margin: 0px;
    color: red; 
}

nav.dynamic ul li {
    border: 1px solid grey;
    border-radius: 2px;
    padding-left: 0px;
}

nav.dynamic ul li:hover {
    background-color: black;
    color: white;
}

section {
    overflow: hidden;
    float: left;
}

section.main {
    width: 800px;
    margin-right: 10px; 
    overflow: hidden;
    float: left;
    position: relative;
}

footer {
    clear: both;
    background-color: grey;
    color: white;
}


