/* 
    Document   : style
    Created on : 2013-03-08, 09:24:18
    Author     : piotr
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    font-family: verdana;
}

header {
    color: white;
    background-color: red;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

nav {
    overflow: hidden;
}

nav.main {
    color: white;
    background-color: blue;
}

nav.dynamic {
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 150px;
    float: right;
    background-color: #E8E8E8;
    position: relative;
    text-align: center;
}

nav.dynamic ul {
    padding: 0px;
    margin: 0px;
    color: red; 
}

nav.dynamic ul li {
    border: 1px solid grey;
    border-radius: 2px;
    padding-left: 0px;
}

nav.dynamic ul li:hover {
    background-color: black;
    color: white;
}

section {
    overflow: hidden;
    float: left;
}

section.main {
    width: 800px;
    margin-right: 10px; 
    overflow: hidden;
    float: left;
    position: relative;
}

footer {
    clear: both;
    background-color: grey;
    color: white;
}

